@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*:not(.currNum) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  position: relative;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}
#header .headerWrap {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  font-size: 14px;
}
#menu #logo {
  width: 100px;
  align-self: center;
  cursor: pointer;
}
#menu #logo img {
  display: block;
  width: 100%;
}
#menu ul {
  display: flex;
  align-self: center;
  margin: 40px;
  position: relative;
}
#menu .submenu {
  display: none;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(48, 54, 77, 0.22) 0px 6px 24px 0px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: -35px;
  flex-direction: column;
}
#menu .submenu li {
  width: 100%;
  padding: 16px 20px;
  cursor: pointer;
}
#menu .submenu li:hover {
  background-color: #f3f3f7;
}
#menu #course > .submenu {
  left: 37px;
}
#menu #course > .submenu .hr {
  border-bottom: 1px solid #f3f3f7;
}
#menu #about:hover > .submenu,
#menu #course:hover > .submenu {
  display: block;
}

#myPage {
  align-self: center;
}
#myPage p {
  padding: 12px 18px;
  cursor: pointer;
}

.lavender {
  padding: 12px 18px;
  border-radius: 4px;
}
.lavender:hover {
  background-color: #f3f3f7;
}

#sliderContainer {
  margin-top: 70px;
  position: relative;
  height: 383px;
  overflow: hidden;
}

#mainSlider {
  position: absolute;
  display: flex;
}
#mainSlider .slide {
  width: 1100px;
  height: 383px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#mainSlider .slide:not(:last-child) {
  margin-right: 20px;
}
#mainSlider .slide01 {
  background-image: url(../img/banner01.png);
}
#mainSlider .slide02 {
  background-image: url(../img/banner02.png);
}
#mainSlider .slide03 {
  background-image: url(../img/banner03.png);
}
#mainSlider .slide04 {
  background-image: url(../img/banner04.png);
}
#mainSlider .slide05 {
  background-image: url(../img/banner05.png);
}

#controller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
#controller > div:not(:last-child) {
  margin-right: 10px;
}

#numWrap {
  color: white;
  font-size: 12px;
}
#numWrap .currNum {
  margin: 2px;
}
#numWrap .totalNum {
  color: rgba(255, 255, 255, 0.7);
}

#btnWrap {
  display: flex;
}
#btnWrap #prevBtn {
  transform: rotateY(180deg);
}
#btnWrap > div {
  cursor: pointer;
  width: 14px;
  margin-right: 8px;
}
#btnWrap > div img {
  display: block;
  width: 100%;
}

#courseInfo {
  padding: 100px 0;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: -0.025rem;
}
#courseInfo > p {
  font-size: 22px;
  line-height: 33px;
}

#courseWrap {
  max-width: 1650px;
  width: 820px;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}

.course {
  cursor: pointer;
  width: 380px;
  height: 300px;
  padding: 40px 48px 54px;
  margin-bottom: 40px;
  border-radius: 20px;
  font-weight: 700;
}
.course:first-child {
  background-color: #f2eafe;
}
.course:first-child .status {
  color: #f2eafe;
}
.course:first-child .moreBtn {
  color: #997acb;
}
.course:nth-child(2) {
  background-color: #f8e8ff;
}
.course:nth-child(2) .status {
  color: #f8e8ff;
}
.course:nth-child(2) .moreBtn {
  color: #c38fd9;
}
.course:nth-child(3) {
  background-color: #ecedfe;
}
.course:nth-child(3) .status {
  color: #ecedfe;
}
.course:nth-child(3) .moreBtn {
  color: #838de2;
}
.course:nth-child(4) {
  background-color: #fef3ea;
}
.course:nth-child(4) .status {
  color: #fef3ea;
}
.course:nth-child(4) .moreBtn {
  color: #ecbd9e;
}
.course:nth-child(5) {
  background-color: #e3e4ee;
}
.course:nth-child(5) .status {
  color: #e3e4ee;
}
.course:nth-child(5) .moreBtn {
  color: #9b9abb;
}
.course:nth-child(6) {
  background-color: #e9fbf5;
}
.course:nth-child(6) .status {
  color: #e9fbf5;
}
.course:nth-child(6) .moreBtn {
  color: #9cb7af;
}
.course:last-child {
  background-color: #eaf0f6;
}
.course:last-child .status {
  color: #eaf0f6;
}
.course:last-child .moreBtn {
  color: #a1bad2;
}
.course:hover {
  background-color: #4000c7;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 15px 20px;
}
.course:hover > * {
  color: white;
}
.course:hover .status {
  background-color: white;
  color: #4000c7;
}
.course:hover .moreBtn {
  color: white;
}
.course .status {
  display: inline-block;
  border-radius: 20px;
  font-size: 16px;
  padding: 3px 12px;
  margin-bottom: 20px;
  background-color: #4000c7;
}
.course .yet {
  background-color: black;
}
.course .courseName {
  font-size: 28px;
  margin-bottom: 10px;
}
.course .content {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}
.course .moreBtn {
  font-size: 16px;
}

#introduce {
  padding: 100px 0;
  text-align: center;
}
#introduce h2 {
  margin-bottom: 50px;
}

#boxWrap {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#boxWrap .box {
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 364px;
  padding: 30px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}
#boxWrap .box .plusBtn,
#boxWrap .box .textWrap > * {
  color: white;
}
#boxWrap .box:hover {
  background-size: 110%;
}
#boxWrap .box:not(.box01) {
  width: 542px;
  margin-top: 16px;
}
#boxWrap .box01 {
  background-image: url(../img/benefit01.png);
  width: 1100px;
}
#boxWrap .box02 {
  background-image: url(../img/benefit02.png);
}
#boxWrap .box03 {
  background-image: url(../img/benefit03.png);
}
#boxWrap .box04 {
  background-image: url(../img/benefit04.png);
}
#boxWrap .box05 {
  background-image: url(../img/benefit05.png);
}
#boxWrap .plusBtn {
  display: inline-block;
  position: absolute;
  right: 30px;
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 20px;
  border: 1px solid white;
}
#boxWrap .textWrap {
  font-weight: bold;
  text-align: left;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
#boxWrap .textWrap .num {
  display: inline-block;
  font-size: 20px;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}
#boxWrap .textWrap .introduce {
  font-size: 22px;
}
#boxWrap .textHidden {
  text-align: left;
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: white;
  font-size: 18px;
}
#boxWrap .textHidden .strong {
  font-weight: 700;
  color: white;
}

#review {
  padding: 100px 0;
  text-align: center;
}

#reviewSliderWrap {
  width: 1270px;
  height: 302px;
  margin: 50px auto 0;
  position: relative;
}

#reviewSliderContainer {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#reviewSliderContainer #reviewSlider {
  position: absolute;
  display: flex;
  text-align: left;
  height: 100%;
}
#reviewSliderContainer #reviewSlider .slide {
  width: 559px;
  height: 100%;
  border-radius: 20px;
  padding: 40px;
  background-color: #f6f2ff;
}
#reviewSliderContainer #reviewSlider .slide:not(:last-child) {
  margin-right: 20px;
}
#reviewSliderContainer #reviewSlider .slide .profileWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviewSliderContainer #reviewSlider .slide .profileWrap p {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.55px;
  line-height: 33px;
  color: #3e06b6;
}
#reviewSliderContainer #reviewSlider .slide .profileWrap img {
  width: 70px;
}
#reviewSliderContainer #reviewSlider .slide .name {
  font-size: 14px;
  margin: 10px 0 16px;
}
#reviewSliderContainer #reviewSlider .slide .name span {
  font-weight: bold;
}
#reviewSliderContainer #reviewSlider .slide .text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.3px;
  line-height: 18px;
  color: #525252;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#reviewSliderContainer #reviewSlider .slide .tags {
  margin-top: 20px;
  display: flex;
}
#reviewSliderContainer #reviewSlider .slide .tags li {
  font-size: 10px;
  background: white;
  color: #525252;
  margin-right: 5px;
  border-radius: 20px;
  padding: 3px 10px;
}

#reviewBtnWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviewBtnWrap > div {
  width: 40px;
  cursor: pointer;
}
#reviewBtnWrap > div img {
  display: block;
  width: 100%;
}
#reviewBtnWrap #reviewPrevBtn {
  transform: rotateY(180deg);
}

.gray {
  background-color: #f5f5f5;
}

.sectionTitle {
  font-size: 48px;
  line-height: 72px;
  font-weight: 900;
  margin-bottom: 12px;
}

/*# sourceMappingURL=style.css.map */
